<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">

    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../../../../../../pokemon%2019/home.css">
</head>

<body>
    <div class="container mt-4">
        <h1 class="text-center">
            <img src="https://cdn.discordapp.com/attachments/1130876162403467354/1130880734689771530/11zon_cropped.png"
                class="img-fluid" alt="Pokémon Image">
        </h1>
        <div class="row">
            <div class="col-lg-6">
                <img src="https://www.animationlibrary.com/Animation11/Creatures_and_Cartoons/Pokemon/Ash.gif"
                    alt="Pokémon Image">
            </div>
            <div class="col-lg-6">
                <a href="#" class="btn btn-primary">Change!</a>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <h1 class="text-center">Team</h1>
        <div class="row flip-card-grid clearfix">
            <div class="col-md-4 mb-4 flip-card">

                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="https://cdn.discordapp.com/attachments/1130492139420258395/1131153763357425745/445.png"
                            style="max-width :100%; max-height:100%" class="img-thumbnail pokemon-image"
                            alt="Pokémon 1">
                    </div>
                    <div class="flip-card-back">
                        <h1>Pokémon 1</h1>
                        <p> private Long id;<br>
                            private String name;<br>
                            private int currentHp;<br>
                            private int maxHp;<br>
                            private Set<MoveVO> moves;<br>
                            private Set<MoveVO> moves;<br>
                            private Set<MoveVO> moves;<br>
                            private Set<MoveVO> moves;<br>
                            private String originalTrainer;</p>
                    </div>
                </div>

            </div>


            <div class="col mb-4 flip-card">

                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="https://cdn.discordapp.com/attachments/1130876162403467354/1131155431352438855/10035.png"
                            class="img-thumbnail pokemon-image" alt="Pokémon 2">
                    </div>
                    <div class="flip-card-back">
                        <h1>Pokémon 2</h1>
                        <p>Informazioni sul Pokémon 2.</p>
                    </div>
                </div>

            </div>


            <div class="col-md-4 custom-margin flip-card">

                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="https://cdn.discordapp.com/attachments/1130876162403467354/1131155431352438855/10035.png"
                            class="img-thumbnail pokemon-image" alt="Pokémon 3">
                    </div>
                    <div class="flip-card-back">
                        <h1>Pokémon 3</h1>
                        <p>Informazioni sul Pokémon 3.</p>
                    </div>
                </div>

            </div>



            <div class="col-md-4 custom-margin flip-card">

                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="https://cdn.discordapp.com/attachments/1130876162403467354/1130876335217193000/1200px-Artwork0001_RFVF.png"
                            class="img-thumbnail pokemon-image" alt="Pokémon 5">
                    </div>
                    <div class="flip-card-back">
                        <h1>Pokémon 5</h1>
                        <p>Informazioni sul Pokémon 5.</p>
                    </div>
                </div>
                </a>
            </div>



            <div class="col-md-4 custom-margin flip-card">

                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="https://i.pinimg.com/originals/bb/8d/4f/bb8d4f05506d83b9f825dc1f47e835ac.jpg"
                            class="img-thumbnail pokemon-image" alt="Pokémon 6">
                    </div>
                    <div class="flip-card-back">
                        <h1>Pokémon 6</h1>
                        <p>Informazioni sul Pokémon 6.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>