<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Grid with Bootstrap - Cards</title>
    <!-- Aggiungi il link al tuo file CSS personalizzato -->
    <link rel="stylesheet" href="../css/styles.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet">
    <link href="https://db.onlinewebfonts.com/c/b357504117fd83d25e5a63601455b367?family=SF+Distant+Galaxy" rel="stylesheet">
</head>
<body>
    <header>
        <div id="header" class="container mt-4">
            <div class="row">
                <div class="col-12 d-flex justify-content-around">
                    <h1 class="text-center">
                        <img src="https://cdn.discordapp.com/attachments/1130876162403467354/1130880734689771530/11zon_cropped.png"
                             class="img-fluid" alt="Pokémon Image">
                    </h1>
                    <div id="trade-section" class="trade-section" style="display: none">
                        <h4 class="text-right pr-5 mr-2">Click here to trade</h4>
                        <img width="350px" src="../static/images/index/pokemon-trade-removebg-preview.png" alt="Trade button">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="row my-md-4" id="pokemon-container">
                <div class="col-md-12 text-center mt-5">
                    <img src="../static/images/index/Pokeball.png" id="pokeball" class="img-pokeball" alt="Pokeball Image">
                </div>
            </div>
        </div>
    </main>
    <script src="../js/index.js"></script>
</body>

</html>
