<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Grid with Bootstrap - Cards</title>
    <!-- Aggiungi il link al tuo file CSS personalizzato -->
    <link rel="stylesheet" href="styles.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="container mt-4">
    <h1 class="text-center">
        <img src="https://cdn.discordapp.com/attachments/1130876162403467354/1130880734689771530/11zon_cropped.png"
             class="img-fluid" alt="Pokémon Image">
    </h1>
</div>

<div class="container">
        <div class="row my-md-4" id="ads">
            <!-- Category Card -->
            <div class="col-md-4 mb-4">
                <div class="card rounded" style="border: 10px solid #b8860b">
                    <div class="card-image d-flex justify-content-center mt-5 ground-gradient-bg ">
                        <img class="img-fluid icon-type" src="https://i.imgur.com/O3ZNXxT.png" alt="Alternate Text" />
                        <img class="img-fluid" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/1.svg" alt="Alternate Text" />
                    </div>
                    <div class="card-body text-center border-yellow mt-3">
                        <div class="ad-title m-auto">
                            <h5>Bulbasaur</h5>
                        </div>
                        <a class="ad-btn" href="#">View</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card rounded fire-gradient-bg" style="border: 10px solid #b8860b">
                    <div class="card-image d-flex justify-content-center mt-5 mb-3">
                        <img class="img-fluid icon-type" src="https://i.imgur.com/PIfsuGY.png" alt="Alternate Text" />
                        <img class="img-fluid" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/4.svg" alt="Alternate Text" />
                    </div>
                    <div class="card-body text-center border-yellow">
                        <div class="ad-title m-auto">
                            <h5>Charmender</h5>
                        </div>
                        <a class="ad-btn" href="#">View</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card rounded water-gradient-bg" style="border: 10px solid #b8860b">
                    <div class="card-image d-flex justify-content-center mt-5 mb-3">
                        <img class="img-fluid icon-type" src="https://i.imgur.com/AITT6dU.png" alt="Alternate Text" />
                        <img class="img-fluid" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/7.svg" alt="Alternate Text" />
                    </div>
                    <div class="card-body text-center border-yellow">
                        <div class="ad-title m-auto">
                            <h5>Squirtle</h5>
                        </div>
                        <a class="ad-btn" href="#">View</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card rounded electric-gradient-bg" style="border: 10px solid #b8860b">
                    <div class="card-image d-flex justify-content-center mt-5 mb-3">
                        <img class="img-fluid icon-type" src="https://i.imgur.com/TKgE4D4.png" alt="Alternate Text" />
                        <img class="img-fluid" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/25.svg" alt="Alternate Text" />
                    </div>
                    <div class="card-body text-center border-yellow">
                        <div class="ad-title m-auto">
                            <h5>Pikachu</h5>
                        </div>
                        <a class="ad-btn" href="#">View</a>
                    </div>
                </div>
            </div>

        </div>
</div>
</body>

</html>
