<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Grid with Bootstrap - Cards</title>
    <!-- Aggiungi il link al tuo file CSS personalizzato -->
    <link rel="stylesheet" href="styles.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="container mt-4">
    <h1 class="text-center">
        <img src="https://cdn.discordapp.com/attachments/1130876162403467354/1130880734689771530/11zon_cropped.png"
             class="img-fluid" alt="Pokémon Image">
    </h1>
</div>

<div class="container">
        <div class="row my-md-4" id="ads">
            <!-- Category Card -->
            <div class="col-md-4 mb-4">
                <div id="pokemon-card" class="card" style="border: 10px solid #b8860b">
                    <div style="border-bottom: 5px solid #b8860b">
                        <div class="pl-4">
                            <div class="d-flex justify-content-start p-3 ad-title">
                                <h5 class="pr-5">Bulbasaur</h5>
                                <h6>80/100</h6>
                            </div>
                        </div>
                        <img class="img-fluid icon-type" src="https://i.imgur.com/BtPM9xr.png" alt="Alternate Text" />
                    </div>
                    <div class="card-image d-flex justify-content-center mt-3">
                        <img class="img-fluid ground-gradient-bg p-3" style="border: 5px solid #b8860b" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/1.svg" alt="Alternate Text" />
                    </div>
                    <div class="d-flex justify-content-center mt-2">
                        <h5>Pokemon Nickname</h5>
                    </div>
                    <div class="card-body border-yellow mt-2">
                        <ul class="list-group">
                            <ul class="list-inline">
                                <div class="d-flex justify-content-between">
                                    <li class="list-inline-item">
                                        <img width="30px" height="30px" src="https://i.imgur.com/BtPM9xr.png" alt="Alternate Text" />
                                    </li>
                                    <li class="list-inline-item">move name</li>
                                    <li class="list-inline-item">move power</li>
                                </div>
                            </ul>
                            <ul class="list-inline">
                                <div class="d-flex justify-content-between">
                                    <li class="list-inline-item">
                                        <img width="30px" height="30px" src="https://i.imgur.com/WerWKO0.png" alt="Alternate Text" />
                                    </li>
                                    <li class="list-inline-item">move name</li>
                                    <li class="list-inline-item">move power</li>
                                </div>
                            </ul>
                            <ul class="list-inline">
                                <div class="d-flex justify-content-between">
                                    <li class="list-inline-item">
                                        <img width="30px" height="30px" src="https://i.imgur.com/BtPM9xr.png" alt="Alternate Text" />
                                    </li>
                                    <li class="list-inline-item">move name</li>
                                    <li class="list-inline-item">move power</li>
                                </div>
                            </ul>
                            <ul class="list-inline">
                                <div class="d-flex justify-content-between">
                                    <li class="list-inline-item">
                                        <img width="30px" height="30px" src="https://i.imgur.com/uEeFwee.png" alt="Alternate Text" />
                                    </li>
                                    <li class="list-inline-item">move name</li>
                                    <li class="list-inline-item">move power</li>
                                </div>
                            </ul>
                        </ul>
                    </div>
                    <div id="pokemon-trainer" class="px-2 d-flex justify-content-center">
                        <p>Original Trainer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card rounded fire-gradient-bg" style="border: 10px solid #b8860b">
                    <div class="card-image d-flex justify-content-center mt-5 mb-3">
                        <img class="img-fluid icon-type" src="https://i.imgur.com/PIfsuGY.png" alt="Alternate Text" />
                        <img class="img-fluid" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/4.svg" alt="Alternate Text" />
                    </div>
                    <div class="card-body text-center border-yellow">
                        <div class="ad-title m-auto">
                            <h5>Charmender</h5>
                        </div>
                        <a class="ad-btn" href="#">View</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card rounded water-gradient-bg" style="border: 10px solid #b8860b">
                    <div class="card-image d-flex justify-content-center mt-5 mb-3">
                        <img class="img-fluid icon-type" src="https://i.imgur.com/AITT6dU.png" alt="Alternate Text" />
                        <img class="img-fluid" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/7.svg" alt="Alternate Text" />
                    </div>
                    <div class="card-body text-center border-yellow">
                        <div class="ad-title m-auto">
                            <h5>Squirtle</h5>
                        </div>
                        <a class="ad-btn" href="#">View</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card rounded electric-gradient-bg" style="border: 10px solid #b8860b">
                    <div class="card-image d-flex justify-content-center mt-5 mb-3">
                        <img class="img-fluid icon-type" src="https://i.imgur.com/TKgE4D4.png" alt="Alternate Text" />
                        <img class="img-fluid" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/25.svg" alt="Alternate Text" />
                    </div>
                    <div class="card-body text-center border-yellow">
                        <div class="ad-title m-auto">
                            <h5>Pikachu</h5>
                        </div>
                        <a class="ad-btn" href="#">View</a>
                    </div>
                </div>
            </div>

        </div>
</div>
</body>

</html>
