@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
 font-family: 'Montserrat', sans-serif;
 background-image: url('../images/index/pokemon-mystery-dungeon-squadra-soccorso-dx-recensione-cover-1620x800.jpg');
 background-size: cover;
 background-repeat: no-repeat;
}

.trade-section {
    font-family: 'Pokemon Solid', sans-serif;
    color: #ffcb05;
    cursor: pointer;
}

h2{
    -webkit-text-stroke: 2px #2262a8;
}

.bug-gradient-bg {
 background: linear-gradient(45deg, #1c4b27, #3c9950);
}

.poison-gradient-bg {
    background: linear-gradient(45deg, #5e2d89, #9b69da);
}

.steel-gradient-bg {
    background: linear-gradient(45deg, #60756e, #42be94);
}

.fire-gradient-bg {
 background: linear-gradient(45deg, #ac1d27, #fc4c59);
}

.water-gradient-bg {
 background: linear-gradient(45deg, #99CCFF, #66A3FF);
}

.electric-gradient-bg {
 background: linear-gradient(45deg, #e2e42b, #f9fa72);
}

.grass-gradient-bg {
 background: linear-gradient(45deg, #167b3d, #25cb53);
}

.psychic-gradient-bg {
    background: linear-gradient(45deg, #a42a6b, #f71e93);
}

.normal-gradient-bg {
    background: linear-gradient(45deg, #74535a, #c999a7);
}

.ice-gradient-bg {
    background: linear-gradient(45deg, #87d1f5, #d8f1fc);
}

.ghost-gradient-bg {
    background: linear-gradient(45deg, #32336b, #906791);
}

.flying-gradient-bg {
    background: linear-gradient(45deg, #4b677d, #93b2c7);
}

.fighting-gradient-bg {
    background: linear-gradient(45deg, #9a4026, #ef6139);
}

.fairy-gradient-bg {
    background: linear-gradient(45deg, #971946, #e81467);
}

.dragon-gradient-bg {
    background: linear-gradient(45deg, #448a94, #62cbd8);
}

.dark-gradient-bg {
    background: linear-gradient(45deg, #030708, #595a78);
}

.rock-gradient-bg {
    background: linear-gradient(45deg, #49180a, #8b3e22);
}

.ground-gradient-bg {
    background: linear-gradient(45deg, #a7702d, #6e491f);
}

.gradient-bg {
 background: linear-gradient(180deg, #ffffff, #fcd362);
}

#pokemon-container .card:hover {
 box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
 border-radius: 2em;
 transition: all 0.3s ease;
 transform: scale(1.3);
 z-index: 1;
}

#pokemon-container .ad-title h5 {
 text-transform: uppercase;
 font-size: 22px;
}

.pokemon-trainer {
 font-size: 20px;
}

.move-font-size {
    font-size: 100%;
}

@keyframes shake {
    0%, 100% { transform: translateX(0) rotateZ(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-5px) rotateZ(-5deg); }
    20%, 40%, 60%, 80% { transform: translateX(5px) rotateZ(5deg); }
  }
  
#pokeball {
    cursor: pointer;
    animation: shake 2s infinite;
    height: auto;
    max-width: 25%;
}

.errorMessageModal:hover {
    animation: shake 0.90s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    20%, 80% {
        transform: translate3d(-3px, 0, 0);
    }

    30%, 70% {
        transform: translate3d(5px, 0, 0);
    }

    40%, 60%, 80% {
        transform: translate3d(-6px, 0, 0);
    }

    50%, 70% {
        transform: translate3d(6px, 0, 0);
    }
}

.modal-borders-header{
    border-top-left-radius: 30px !important;
    border-top-right-radius: 30px !important;
}

.modal-borders-content{
    border-radius: 30px !important;
}

.body-modal-font-size{
    font-size: 18px;
}

.icon-type {

    width: 27%;
    position: absolute; /* Abilita il posizionamento assoluto */
    top: -1px; /* Spazio di 10px dalla parte superiore della card */
    right: -1px; /* Spazio di 10px dalla parte destra della card */
    border-radius: 50%; /* Imposta il bordo circolare */
}

.bounce-1 {
    animation: bounce-1 1s infinite;
}

.bounce-1:hover{
    animation: rotation 2s infinite;
}

@keyframes bounce-1 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}


