<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Grid with Bootstrap - Cards</title>
    <!-- Aggiungi il link al tuo file CSS personalizzato -->
    <link rel="stylesheet" href="styles.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="container mt-4">
    <h1 class="text-center">
        <img src="https://cdn.discordapp.com/attachments/1130876162403467354/1130880734689771530/11zon_cropped.png"
             class="img-fluid" alt="Pokémon Image">
    </h1>
</div>

<div class="container">
        <div class="row my-md-4" id="pokemon-container">
            <div class="col-md-12 text-center mt-5">
                <img src="Pokeball.png" id="pokeball" class="img-pokeball" alt="Pokeball Image">
            </div>
        </div>
</div>
<script src="index.js"></script>
</body>

</html>
